#taskbar a.button-pictures {
	background: url(images/photos.png) 0px 1px/23px no-repeat;
}
#picturestoolbar {
	top: -41px;
	position: absolute;
	width: calc(100% - 185px);
	left: 185px;
}
#info {
	width: 50px;
	position: relative;
	background: url(../../images/error.png) 18px 2px no-repeat transparent;
	height: 30px;
	margin-left: auto;
	margin-right: auto;
	top: 35px;
	z-index: 1000;
	margin-top: -30px;
	cursor: pointer;
	display: none;
}
.toolbar a.button:focus {
	color: #fff;
	background-color: rgba(30,150,192,0.5) !important;
	border-radius: 3px;
}
#picturestoolbar a.button {
	display: block;
	float: left;
	color: transparent;
	height: 32px;
	width: 32px;
	padding: 0;
	margin: 0 5px;
	overflow: hidden;
}
#picturestoolbar a.button.edit {
	background: url(../../images/button_edit.png) 0 0 no-repeat transparent;
}
#picturestoolbar a.button.add {
	background: url(../../images/album_add.png) 0 0 no-repeat transparent;
}
#picturestoolbar a.button.move {
	background: url(../../images/button_move.png) 0 0 no-repeat transparent;
}
#picturestoolbar a.button.delete {
	background: url(../../images/button_delete.png) 0 0 no-repeat transparent;
}
#picturestoolbar .disabled {
	pointer-events: none;
	opacity: 0.5;
}
#bcn {
	float: right;
	top: 5px;
	position: absolute;
	right: -2px;
}
.breadcrumb {
	list-style: none;
	overflow: hidden;
	font-size: 11px;
	margin: 0;
	padding: 0 10px;
	font-family: "Lucida Grande",Verdana,Arial,Helvetica,sans-serif;
	border: 1px solid #ababab;
	border-radius: 0;
	background: unset;
}
.breadcrumb li {
	float: left;
	display: table-cell;
	vertical-align: middle;
	height: 26px;
	line-height: 24px;
}
.breadcrumb li a {
	color: #333;
	text-decoration: none;
	position: relative;
	vertical-align: middle;
	height: 26px;
	font-weight: bold;
}
.breadcrumb li a:hover {
	color: #aaaaaa;
}
.breadcrumb li:not(:first-child)::before {
	content: "›";
	display: inline-block;
	vertical-align: top;
	margin: 0 10px 0 8px;
	padding: ;
}
.breadcrumb li:last-child a {
  color: #017db6;
  pointer-events: none;
  cursor: default;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;/
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
#album_edit a.disabled {
	pointer-events: none;
	background: #c6c6c6 !important;
	border: 1px solid #c6c6c6 !important;
}
#modal-body a.button {
	width: 24%;
	background-color: hsla(195, 60%, 56%, 1);
	border: 1px solid hsla(195, 60%, 56%, 1);
	border-radius: 5px;
	margin: 5px 5px;
	color: white;
	font-weight: bold;
	font-size: 1.3em;
}
#modal-body a.button:hover {
	background-color: hsla(199, 99%, 36%, 1);
}
#modal-body select {
	width: 100%;
	margin-bottom: 10px;
	border-radius: 5px;
	border: 1px solid #b2b2b2;
	font-size: 1.3em;
}
.modal-body-text {
	padding: 2px 8px !important;
	text-align: left !important;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow-y: auto;
	overflow-x: hidden;
}
.modal-content {
	position: relative;
	margin: auto;
	padding: 0;
	border: 1px solid hsla(195, 60%, 56%, 1);
	width: 500px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	-webkit-animation-name: animatetop;
	-webkit-animation-duration: 0.4s;
	animation-name: animatetop;
	animation-duration: 0.4s;
	border-radius: 5px;
}
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}
@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.modal-header {
	padding: 2px 16px;
	background-color: hsla(195, 60%, 56%, 1);
	color: white;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.modal-body {
	padding: 2px 16px;
	background-color: white;
	text-align: center;
	padding-bottom: 10px;
}
.modal-footer {
    padding: 2px 16px;
    background-color: hsla(195, 60%, 56%, 1);
    color: white;
}
#modal-body input {
	width: 100%;
	height: 22px;
	box-sizing: border-box;
	position: relative;
	margin: 13px auto;
	font-size: 1.3em;
}
.mv_target, .mv_target::after {
	border-radius: 50%;
	width: 2em;
	height: 2em;
}
.mv_target {
	margin: 21px auto;
	font-size: 6px;
	position: relative;
	text-indent: -9999em;
	border-top: 0.7em solid rgba(133, 201, 224, 0.8);
	border-right: 0.7em solid rgba(133, 201, 224, 0.8);
	border-bottom: 0.7em solid rgba(133, 201, 224, 0.8);
	border-left: 0.7em solid rgba(1, 125, 183, 1);
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-animation: load8 1.1s infinite linear;
	animation: load8 1.0s infinite linear;
	overflow: hidden;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}