<roundcube:include file="includes/layout.html" />
<roundcube:include file="includes/menu.html" />
<h1 class="voice"><roundcube:label name="pictures.pictures" /></h1>
<div id="content" class="content selected" role="main">
	<div id="messagelist-header" class="header">
		<a class="button icon task-menu-button" href="#menu" style="z-index: 1; left: 0; position: absolute;"><span class="inner"><roundcube:label name="menu" /></span></a>
		<div id="picturestoolbar" class="toolbar" role="toolbar" aria-labelledby="aria-label-toolbar">
			<div id="info" onClick="document.getElementById('album_edit').style.display = 'block';"></div>
			<roundcube:button command="addalbum" type="link" class="button create" label="pictures.new_album" title="pictures.new_album" innerclass="inner" id="addalbum" />
			<roundcube:button command="movepicture" type="link" class="button move disabled" label="pictures.move" title="pictures.move" innerclass="inner" id="movepicture" />
			<roundcube:button command="edit_meta" type="link" class="button edit disabled" label="edit" title="edit" innerclass="inner" id="editmeta" />
			<roundcube:button command="delpicture" type="link" class="button delete disabled" label="pictures.delete" title="pictures.delete" innerclass="inner" id="delpicture" />
			<roundcube:button command="sharepicture" type="link" class="button share disabled" label="pictures.share" title="pictures.share" innerclass="inner" id="sharepicture" />
			<roundcube:button command="uploadpicture" type="link" class="button upload" label="pictures.upload" title="pictures.upload" innerclass="inner" id="uploadpicture" />
			<roundcube:button command="searchphoto" type="link" class="button search" label="search" title="search" innerclass="inner" id="searchphoto" />
		</div>
	</div>
	<div class="iframe-wrapper">	
		<div id="pluginbody" class="offset">
			<div class="iframebox pictures_<roundcube:var name='env:action' />">
				<roundcube:object name="picturescontent" id="picturescontentframe" style="width:100%; height:100%" allow="clipboard-write" frameborder="0" src="/watermark.html" />
			</div>
		</div>
		<div id="album_edit" class="modal">
			<div class="modal-content">
				<div class="modal-header">
					<span class="close" onClick="document.getElementById('album_edit').style.display='none'; window.parent.document.getElementById('info').style.display = 'none'; return false;">&times;</span>
					<h2 id="mheader"></h2>
				</div>
				<div id="modal-body" class="modal-body">
					<form>
						<input type="text" name="album_name" id="album_name" value="" onInput="$('#rnb').removeClass('disabled'); $('#addb').removeClass('disabled');">
						<input type="hidden" name="album_org" id="album_org" value="">
						<div id="mv_target"><div class="mv_target"><roundcube:label name="loading" quoting="html" /></div></div>
						<div id="albedit">
							<roundcube:button command="rename_alb" id="rnb" type="link" class="btn btn-secondary disabled" label="pictures.rename">
							<roundcube:button command="move_alb" id="mvb" type="link" class="btn btn-secondary disabled" label="pictures.move">
							<roundcube:button command="delete_alb" id="dalb" type="link" class="btn btn-primary" label="pictures.delete">
						</div>
						<div id="albadd">
							<roundcube:button command="add_alb" id="addb" type="link" class="btn btn-primary" label="pictures.create">
						</div>
					</form>
				</div>
			</div>
		</div>
		<div id="img_edit" class="modal">
			<div class="modal-content">
				<div class="modal-header">
					<span class="close" onClick="document.getElementById('img_edit').style.display='none';return false;">&times;</span>
					<h2></h2>
				</div>
				<div id="modal-body" class="modal-body">
					<form>
						<input type="text" name="album_name_img" id="album_name_img">
						<span id="rpath">&nbsp;</span>
						<input type="hidden" name="album_org_img" id="album_org_img">
						<div id="mv_target_img"><div class="mv_target"><roundcube:label name="loading" quoting="html" /></div></div>
						<roundcube:button command="move_image" id="mvp" type="link" class="btn btn-primary disabled" label="pictures.move">
					</form>
				</div>
			</div>
		</div>
		<div id="share_edit" class="modal">
			<div class="modal-content">
				<div class="modal-header">
					<span class="close" onClick="document.getElementById('share_edit').style.display='none'; window.parent.document.getElementById('info').style.display = 'none'; return false;">&times;</span>
					<h2 id="sheader"></h2>
				</div>
				<div id="modal-body" class="modal-body sebody">
					<form>		
						<label for="sname"><roundcube:label name="pictures.ShareName" quoting="html" /></label>
						<input type="text" id="sname" tabindex="1"><button id="rsh" disabled></button>
						<div id="share_target"><div class="share_target"><roundcube:label name="loading" quoting="html" /></div></div>
						<label for="suser"><roundcube:label name="pictures.IntUser" quoting="html" /></label>
						<input type="text" id="suser" placeholder="Username" tabindex="2">
						<input type="hidden" id="sid">
						<label for="expiredate"><roundcube:label name="pictures.ExpDate" quoting="html" /></label>
						<input type="date" tabindex="3" id="expiredate" style="width: calc(100% - 35px) !important"><input type="checkbox" tabindex="3" title="never" id="never" style="width: 20px;right: -15px;position: relative;">
						<div id="link">&nbsp;</div><button id="btnclp"></button>
						<div id="shareedit">
							<roundcube:button command="sharepic" id="sbtn" type="link"  class="btn btn-primary" label="pictures.share">
						</div>
					</form>
				</div>
			</div>
		</div>
		<div id="searchphotof" class="modal">
			<div class="modal-content">
				<div class="modal-header">
					<span class="close" onClick="document.getElementById('searchphotof').style.display='none'; window.parent.document.getElementById('info').style.display = 'none'; return false;">&times;</span>
					<h2 id="mheader"></h2>
				</div>
				<div id="modal-body" class="modal-body">
					<form>
						<input type="text" name="skeywords" id="skeywords" value="" />
						<div id="sphoto">
							<roundcube:button command="psearch" id="spb" type="link" class="btn btn-primary" label="search">
							<roundcube:button command="pschancel" id="csb" type="link" class="btn btn-secondary" label="cancel">
						</div>
					</form>
				</div>
			</div>
		</div>
		<div id="metadata" class="modal">
			<div class="modal-content">
				<div class="modal-header">
					<span class="close" onClick="document.getElementById('metadata').style.display='none'; window.parent.document.getElementById('info').style.display = 'none'; return false;">&times;</span>
					<h2 id="mheader"></h2>
				</div>
				<div id="modal-body" class="modal-body">
					<form>
						<label for="mekeywords"><roundcube:label name="pictures.exif_keywords" quoting="html" /></label><input type="text" name="mekeywords" id="mekeywords" value="" />
						<label for="metitle"><roundcube:label name="pictures.exif_title" quoting="html" /></label><input type="text" name="metitle" id="metitle" value="" />
						<label for="medescription"><roundcube:label name="pictures.exif_desc" quoting="html" /></label><input type="text" name="medescription" id="medescription" value="" />
						<div id="sphoto">
							<roundcube:button command="mesave" id="mes" type="link" class="btn btn-primary disabled" label="save" >
							<roundcube:button command="mecancel" id="mec" type="link" class="btn btn-secondary" label="cancel">
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<roundcube:include file="includes/footer.html" />