<roundcube:object name="doctype" value="html5" />
<html>
<head>
<title><roundcube:object name="pagetitle" /></title>
<roundcube:include file="/includes/links.html" />
</head>
<roundcube:if condition="env:extwin" /><body class="extwin"><roundcube:else /><body><roundcube:endif />
<roundcube:include file="/includes/taskbar.html" />
<roundcube:include file="/includes/header.html" />
<div id="mainscreen">
	<div id="picturestoolbar" class="toolbar" role="toolbar" >
		<div id="info" onClick="document.getElementById('album_edit').style.display = 'block';"></div>
		<roundcube:button id="editalbum" command="editalbum" type="link" class="button edit disabled" label="pictures.album" title="pictures.album" />
		<roundcube:button id="addalbum" command="addalbum" type="link" class="button add" label="pictures.new_album" title="pictures.new_album" />
		<span class="divider"></span>
		<roundcube:button id="movepicture" command="movepicture" type="link" class="button move disabled" label="pictures.move" title="pictures.move" />
		<roundcube:button id="delpicture" command="delpicture" type="link" class="button delete disabled" label="pictures.delete" title="pictures.delete" />
		<roundcube:button id="create_share" command="create_share" type="link" class="button share disabled" label="pictures.share" title="pictures.share" />
		<div id="bcn"></div>
	</div>
	<div id="pluginbody" class="offset">
		<div class="iframebox pictures_<roundcube:var name='env:action' />">
			<roundcube:object name="picturescontent" id="picturescontentframe" style="width:100%; height:100%; border: 1px solid #919ca4; border-radius: 5px; background: white;" frameborder="0" src="/watermark.html" />
		</div>
	</div>
</div>

<div id="album_edit" class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <span class="close" onClick="document.getElementById('album_edit').style.display='none'; window.parent.document.getElementById('info').style.display = 'none'; return false;">&times;</span>
      <h2 id="mheader"></h2>
    </div>
	<div id="modal-body" class="modal-body">
		<form>
			<input type="text" name="album_name" id="album_name" value="" onInput="$('#rnb').removeClass('disabled'); $('#addb').removeClass('disabled');">
			<input type="hidden" name="album_org" id="album_org" value="">
			<div id="mv_target"><div class="mv_target"><roundcube:label name="loading" quoting="html" /></div></div>
			<div id="albedit">
			<roundcube:button command="rename_alb" id="rnb" type="link" class="button disabled" label="pictures.rename">
			<roundcube:button command="move_alb" id="mvb" type="link" class="button disabled" label="pictures.move">
			<roundcube:button command="delete_alb" type="link" class="button" label="pictures.delete">
			</div>
			<div id="albadd">
			<roundcube:button command="add_alb" id="addb" type="link" class="button disabled" label="pictures.create">
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<h3></h3>
	</div>
	</div>
</div>

<div id="img_edit" class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <span class="close" onClick="document.getElementById('img_edit').style.display='none';return false;">&times;</span>
      <h2></h2>
    </div>
	<div id="modal-body" class="modal-body">
		<form>
			<input type="text" name="album_name_img" id="album_name_img" value="">
			<input type="hidden" name="album_org_img" id="album_org_img" value="">
			<div id="mv_target_img"><div class="mv_target"><roundcube:label name="loading" quoting="html" /></div></div>
			<roundcube:button command="move_image" id="mvb" type="link" class="button disabled" label="pictures.move">
		</form>
	</div>
	<div class="modal-footer">
		<h3></h3>
	</div>
	</div>
</div>

<div id="share_edit" class="modal">
	<div class="modal-content">
		<div class="modal-header">
			<span class="close" onClick="document.getElementById('share_edit').style.display='none'; window.parent.document.getElementById('info').style.display = 'none'; return false;">&times;</span>
			<h2 id="sheader"></h2>
		</div>
		<div id="modal-body" class="modal-body sebody">
			<form>
				<label for="sname">Share Name</label>
				<input type="text" id="sname">
				<div id="share_target"><div class="share_target"><roundcube:label name="loading" quoting="html" /></div></div>
				<input type="hidden" id="sid">
				<label for="edate">Expire Date</label>
				<input type="date" id="expiredate">
				<div id="link">&nbsp;<span id="scpy" title="Copy URL" class="cpy"></span></div>
				<div id="shareedit">
					<roundcube:button command="sharepic" id="sbtn" type="link" class="button" label="pictures.share">
				</div>
			</form>
		</div>
		<div class="modal-footer">
			<h3></h3>
		</div>
	</div>
</div>

<roundcube:include file="/includes/footer.html" />
</body>
</html>